# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.cache/

# Build files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Environment variables
.env

# Temporary files
*.tmp
*.swp
*.bak
